web/WEB-INF/wsdl/localhost_8080/SearchVideoService/SearchVideoService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="SearchVideoService">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8080/SearchVideoService/SearchVideoService?xsd=1"/>
</xsd:schema>
</types>
<message name="FindVideoByAuthor">
<part name="parameters" element="tns:FindVideoByAuthor"/>
</message>
<message name="FindVideoByAuthorResponse">
<part name="parameters" element="tns:FindVideoByAuthorResponse"/>
</message>
<message name="FindVideoByYear">
<part name="parameters" element="tns:FindVideoByYear"/>
</message>
<message name="FindVideoByYearResponse">
<part name="parameters" element="tns:FindVideoByYearResponse"/>
</message>
<message name="FindVideoByTitle">
<part name="parameters" element="tns:FindVideoByTitle"/>
</message>
<message name="FindVideoByTitleResponse">
<part name="parameters" element="tns:FindVideoByTitleResponse"/>
</message>
<portType name="SearchVideoService">
<operation name="FindVideoByAuthor">
<input wsam:Action="http://services/SearchVideoService/FindVideoByAuthorRequest" message="tns:FindVideoByAuthor"/>
<output wsam:Action="http://services/SearchVideoService/FindVideoByAuthorResponse" message="tns:FindVideoByAuthorResponse"/>
</operation>
<operation name="FindVideoByYear">
<input wsam:Action="http://services/SearchVideoService/FindVideoByYearRequest" message="tns:FindVideoByYear"/>
<output wsam:Action="http://services/SearchVideoService/FindVideoByYearResponse" message="tns:FindVideoByYearResponse"/>
</operation>
<operation name="FindVideoByTitle">
<input wsam:Action="http://services/SearchVideoService/FindVideoByTitleRequest" message="tns:FindVideoByTitle"/>
<output wsam:Action="http://services/SearchVideoService/FindVideoByTitleResponse" message="tns:FindVideoByTitleResponse"/>
</operation>
</portType>
<binding name="SearchVideoServicePortBinding" type="tns:SearchVideoService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="FindVideoByAuthor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="FindVideoByYear">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="FindVideoByTitle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SearchVideoService">
<port name="SearchVideoServicePort" binding="tns:SearchVideoServicePortBinding">
<soap:address location="http://localhost:8080/SearchVideoService/SearchVideoService"/>
</port>
</service>
</definitions>